<style>
table, th, td {
  border: 1px solid black;
}
h2 {
   background: #00dd22;
border-bottom: 5px solid green;
}


div {
  border-bottom: double;
}
</style>

<h2 class="text-center"> List de citoyens plaignants </h2>
<div class="container">
<table class = "table table-striped">

  <thead>
  <tr>
    <th>Nom de citoyen</th>
    <th> Prenom de citoyen </th>
    <th> Telephone de citoyen</th>
    <th> Location de citoyen </th>
    <th> date  d'insertion du citoyen </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let citoyen of citoyens">
    <td> {{ citoyen.nomc }} </td>
    <td> {{ citoyen.prenomc }} </td>
    <td> {{ citoyen.telephonec }} </td>
    <td> {{ citoyen.locationc }} </td>
    <td> {{ citoyen.datec }} </td>
    <td>
      <button (click) = "updateCitoyen(citoyen.id)" class = "btn btn-info"> Mis à jour {{ citoyen.id }} </button></td>
    <td>
      <button (click) = "deleteCitoyen(citoyen.id)" class = "btn btn-danger"> Supprimer {{ citoyen.id }} </button></td>
  </tr>
  </tbody>
</table>
</div><br><br>
<div *ngIf="submitted=== true"><h1>{{this.idx}}+{{this.citoyena!.nomc}} </h1></div><br><br>
<div *ngIf="submittedd=== true"><h1>On supprime le citoyen qui a l'id:{{this.idx}}, le nom:{{this.citoyend?.nomc}}</h1></div><br><br>
